.logo {
  width: 10vw;
  height: auto;
}

.btn.btn-primary {
  width: 8vw;
  margin: 1.5rem;
}

.bi::before,
[class^='bi-']::before,
[class*=' bi-']::before {
  margin-right: 1rem;
}

#formulaire-de-connexion {
  width: 100vw;
  height: 100vh;
  max-width: 1300px;
  margin: 0 auto;
}
